.containerVideo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 80px;
    box-sizing: border-box;
}

.videoContainer {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.video {
    width: 80%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.textContainer {
    flex: 1;
    max-width: 400px;
    text-align: left;
}


.description {
    font-size: 16px;
    line-height: 1.6;
}

.buttonContainer {
    margin-top: 20px;
    text-align: left;
}

.nextButton {
    padding: 16px 30px; /* Increased padding for consistency */
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--button-text-color);
    background-color: #4298c2; /* Same blue as global buttons */
    border: none;
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 300px; /* Ensures it doesn’t stretch too wide */
    text-align: center;
    margin: 0 auto; /* Centers the button */
    display: block;
}

/* Hover effect */
.nextButton:hover {
    background-color: #3c85a9; /* Darker blue */
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}
